body {
    background-color: rgb(246, 210, 144);
}

h1, h2 {
    text-align: center;
}
.divider{
    height:15px;
    width:100%;
    background-color:rgb(255, 115, 0);
}

.code-wrapper{
    background-color: rgb(251, 161, 43, 0.902);
    border: 3px solid;
    padding-left:10px;
    position: relative;
}
.label {
    position:absolute;
    left:0;
}